aiohttp==3.9.5
aiosignal==1.3.1
asttokens==2.4.1
attrs==23.2.0
black==24.4.2
cattrs==23.2.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
decorator==5.1.1
distro==1.9.0
executing==2.0.1
filelock==3.15.4
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.6.1
giotto-ph==0.2.4
giotto-tda==0.6.2
h5py==3.11.0
idna==3.7
igraph==0.11.5
iniconfig==2.0.0
ipython==8.25.0
ipywidgets==8.1.3
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
lazy_loader==0.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
matplotlib-venn==0.11.10
mdurl==0.1.2
meshzoo==0.11.6
mne==1.7.1
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
networkx==3.3
nibabel==5.2.1
numpy==1.26.4
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
pooch==1.8.2
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-machineid==0.6.0
pycparser==2.22
pyflagser==0.4.7
pyglet==1.5.29
Pygments==2.18.0
pykan==0.1.2
pyparsing==3.1.2
pyriemann==0.6
pytest==8.2.2
python-dateutil==2.9.0.post0
python-package-info==0.0.9
pytz==2024.1
PyWavelets==1.6.0
requests==2.32.3
requests-cache==1.2.1
rich==13.7.1
rich-argparse==1.5.2
scikit-base==0.8.1
scikit-learn==1.3.2
scipy==1.14.0
six==1.16.0
sktime==0.30.1
soundfile==0.12.1
SpharaPy==1.1.2
stack-data==0.6.3
stonefish-license-manager==0.4.36
sympy==1.12.1
tenacity==8.5.0
texttable==1.7.0
threadpoolctl==3.5.0
torch==2.3.1
torch_geometric==2.5.3
torchvision==0.18.1
tqdm==4.66.4
traitlets==5.14.3
trimesh==4.4.3
typing_extensions==4.12.2
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
venn==0.1.3
wcwidth==0.2.13
wfdb==4.1.2
widgetsnbextension==4.0.11
x21==0.5.2
xgboost==2.1.0
yarl==1.9.4
